/* Stylesheet */

/*alles*/
body {
	background-color: white;
	color: #000080;
	font-family: Arimo, Arial, sans-serif;
}

/*Überschrift "HA Kapitel 6 - Web Engineering I"*/
h1 {
	font-size: 40px;
	text-align: center;
}


/*Feld um die Überschrift herum*/
#h1 {
	position: fixed;
	background-color: #ffebcd;
	border: 5px solid #4169e1;
	width: 100%;
	margin-top: -20px;
	margin-left: -8px;
	z-index: 1;
}


#tableheading {
	font-size: 30px;
}


table {
	border: solid 4px white;
	text-align: center;
	margin: auto;
	padding: 10px;
	padding-top: 140px;
}

thead {
	background-color: #6495ed;
}

/*Spalte mit Beschreibung*/
.eleb {
	text-align: left;
	padding-left: 8px;
	font-size: 12px;
}
/*abwechselnde Zeilen*/
.tr1 {
	background-color: #ffebcd;
}

.tr2 {
	background-color: #ffe4c4;
}

/* grünes Feld für semantisch*/
.semg {
	background-color: green;
	font-size: 10px;
}
/*rotes Feld für nicht semeantisch*/
.semr {
	background-color: red;
	font-size: 10px;
}

p {
	margin: 50px;
	font-family: cursive;
	font-size: 8px;
	text-align: center;
}
