/* Stylesheet */

/*alles*/
body {
	background-color: #ecd3b7;
	color: #291806;
	font-family: Arimo, Arial, sans-serif;
}

/*Überschrift "HA Kapitel 6 - Web Engineering I"*/
h1 {
	font-size: 40px;
	text-align: center;
}
/*Feld um die Überschrift herum*/
#h1 {
	position: fixed;
	display: inline-block;
	background-color: #6d9866;
	border-radius: 5px;
	width: 100%;
	height: 90px;
	margin-top: -20px;
	margin-left: -8px;
}

/*Feld um die Tabelle herum, dunkelgrün, und alles darin
#table {
	background-color: #6d9866;
	border-radius: 5px;
	padding: 15px;
	margin: auto;
}*/

#tableheading {
	font-size: 30px;
}


table {
	border: solid 4px #ecd3b7;
	text-align: center;
	margin: auto;
	padding: 10px;
	padding-top: 80px;
}

thead {
	background-color: #e07e16;
}

/*Spalte mit Beschreibung*/
.eleb {
	text-align: left;
	padding-left: 8px;
	font-size: 12px;
}
/*abwechselnde Zeilen*/
.tr1 {
	background-color: #e7ac6a;
}

p {
	margin: 50px;
	font-family: cursive;
	font-size: 8px;
	text-align: center;
}
.tr2 {
	background-color: #e09e55;
}

/* grünes Feld für semantisch*/
.semg {
	background-color: green;
	color: green;
}
/*rotes Feld für nicht semeantisch*/
.semr {
	background-color: red;
	color: red;
}
